@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  max-width: 800px;
  padding: 12px 12px;
  margin: 0 auto;
}

input,
textarea {
  @apply border-4 border-slate-500 rounded-lg p-2 hover:bg-slate-200;
}

button {
  @apply bg-slate-500 rounded-lg p-2 text-white hover:bg-slate-400;
}

footer {
  @apply content-center text-center shadow-inner w-full;
  bottom: 0;
  position: absolute;
  padding: 20px 0;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}
